* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #111;
    color: white;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin: 10px;
}

header h1 , header p {
    font-size: 2.5rem;
    background-image: linear-gradient(to right, #ff105f, #3cff06);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: transform 0.3s ease, background-position 0.3s ease;
    background-size: 200% 100%;
    background-position: 0 0;
    cursor: pointer;
    animation: Title 3s both ease-in-out infinite alternate;
    text-shadow: 3px 3px 5px #3a3838;
}

@keyframes Title {
    0% {
    background-image: linear-gradient(to right, #ff105f, #3cff06);    }

        25% {
            background-image: linear-gradient(to right, #300a72, #ffffff);
        }

                50% {
                    background-image: linear-gradient(to right, #b7b7b7, #3cff06);
                }

    75% {
        background-image: linear-gradient(to right, #ddff00, #b05918);
    }
   100% {
        background-image: linear-gradient(to right, #ff105f, #3cff06);
    }
}

header h1:hover {
    transform: scale(1.1);
    background-position: 100% 0;
    letter-spacing: 3px;
}

#inputs form {
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
    border-radius: 10px;
    padding: 20px;
    backdrop-filter: blur(10px); /* Blur effect */
    box-shadow: 5px 5px 15px #ffffff80,
                -5px -5px 15px #ffffff80,
                5px -5px 2px #ffffff80,
                -5px 5px 2px #ffffff80; /* Complex shadow effect */
    border: 1px solid rgba(255, 255, 255, 0.2); 
    margin: 10px;
    text-align: center;
}

#inputs form input, #search input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    background-color: #111;
    color: white;
    transition: 500ms ease all;
}

input:focus {
    background-color: #000000a9;
    color: white;
    border: 1px solid rgb(75, 189, 0);
    border-radius: 5px;
    transform: scale(1.1);
}

#inputs form:has(input:user-invalid) #submit {
        cursor: not-allowed;
        background: #fe0044;
        border: 2px solid #ffffff;
}

button {
    display: block;
    margin: auto;
    width: 80%;
    padding: 10px 20px;
    background-color: #3200fa;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 3px 4px 10px rgba(255, 255, 255, 0.3); /* Subtle shadow */
}

button:hover {
    background-color: white;
    color: #111;
}

#show-data {
  
    text-align: center;
    margin: 20px;
}
#search { 
   text-align: center;
    padding: 20px;
    margin: 20px;
    background: #9b18181a; 
    border-radius: 10px;
    backdrop-filter: blur(10px); 
    box-shadow: 5px 5px 15px #0b732380;
    border: 2px solid rgba(255, 255, 255, 0.2); 
}
#search button {
    width: 40%;
    margin: 10px;
}
#search .filterBy {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    min-width: 200px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15) ,
                5px -5px 5px rgba(0, 0, 0, 0.15),
            -5px 5px 5px rgba(0, 0, 0, 0.15),
            -5px -5px 5px rgba(0, 0, 0, 0.15); /* Multiple shadows */
}

table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

table th
{
    text-shadow: 5px 5px 5px #000000;
}
table th,
table td {
    padding: 12px 5px;
    text-align: center;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #00000082;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
