* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #111;
    color: white;
    width: 80%;
    margin: auto;
    text-align: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin: 10px;
}

header h1 {
    font-size: 2.5rem;
    background-image: linear-gradient(to right, #ff105f, #3cff06);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: transform 0.3s ease, background-position 0.3s ease;
    background-size: 200% 100%;
    background-position: 0 0;
    cursor: pointer;
}

header h1:hover {
    transform: scale(1.1);
    background-position: 100% 0;
    background-image: linear-gradient(to left, #e74279, #0617ff);
    letter-spacing: 3px;
}

#inputs form {
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
    border-radius: 10px;
    padding: 20px;
    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    box-shadow: 5px 5px 15px #ffffff80,
                -5px -5px 15px #ffffff80,
                5px -5px 2px #ffffff80,
                -5px 5px 2px #ffffff80; /* Complex shadow effect */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Optional: Add a border */
    margin: 10px;
}

#inputs form input, #search input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    background-color: #111;
    color: white;
    transition: 500ms ease all;
}

#inputs form input:focus {
    background-color: #000000a9;
    color: white;
    border: 1px solid rgb(75, 189, 0);
    border-radius: 5px;
    transform: scale(1.05);
}

button {
    display: block;
    margin: auto;
    width: 80%;
    padding: 10px 20px;
    background-color: #3200fa;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

button:hover {
    background-color: white;
    color: #111;
}

#search { 
    align-items: center;
    padding: 20px;
    margin: 20px;
    background: rgba(155, 24, 24, 0.1); 
    border-radius: 10px;
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    box-shadow: 5px 5px 15px #0b732380;
    border: 2px solid rgba(255, 255, 255, 0.2); 
}
#search button {
    width: 40%;
    margin: 10px;
}
#search .filterBy {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
}